overlays = 3

overlay0_rect = "0.0, 0.0, 1.0, 1.0"
overlay0_full_screen = true

overlay0_alpha_mod = 2.0 # If we press a button desc, it will have twice the alpha.
overlay0_range_mod = 1.5 # If we press a button desc, the hitbox range will be 1.5x the size until it's released.
overlay0_normalized = true # Descriptor coordinates use normalized coordinates [0, 1] instead of pixels.

overlay0_descs = 24
overlay0_desc0_overlay = A.png
overlay0_desc1_overlay = B.png
overlay0_desc2_overlay = C.png
overlay0_desc3_overlay = D.png
overlay0_desc4_overlay = E.png
overlay0_desc5_overlay = F.png
overlay0_desc6_overlay = G.png
overlay0_desc7_overlay = H.png
overlay0_desc8_overlay = I.png
overlay0_desc9_overlay = J.png
overlay0_desc10_overlay = K.png
overlay0_desc11_overlay = L.png
overlay0_desc12_overlay = M.png
overlay0_desc13_overlay = N.png

overlay0_desc0  = "retrok_a,0.04,0.14,rect,0.03,0.04"
overlay0_desc1  = "retrok_b,0.04,0.22,rect,0.03,0.04"
overlay0_desc2  = "retrok_c,0.04,0.30,rect,0.03,0.04"
overlay0_desc3  = "retrok_d,0.04,0.38,rect,0.03,0.04"
overlay0_desc4  = "retrok_e,0.04,0.46,rect,0.03,0.04"
overlay0_desc5  = "retrok_f,0.04,0.54,rect,0.03,0.04"
overlay0_desc6  = "retrok_g,0.04,0.62,rect,0.03,0.04"

overlay0_desc7  = "retrok_h,0.96,0.14,rect,0.03,0.04"
overlay0_desc8  = "retrok_i,0.96,0.22,rect,0.03,0.04"
overlay0_desc9  = "retrok_j,0.96,0.30,rect,0.03,0.04"
overlay0_desc10 = "retrok_k,0.96,0.38,rect,0.03,0.04"
overlay0_desc11 = "retrok_l,0.96,0.46,rect,0.03,0.04"
overlay0_desc12 = "retrok_m,0.96,0.54,rect,0.03,0.04"
overlay0_desc13 = "retrok_n,0.96,0.62,rect,0.03,0.04"

overlay0_desc14_overlay = chi.png
overlay0_desc15_overlay = pon.png
overlay0_desc16_overlay = kan.png
overlay0_desc17_overlay = reach.png
overlay0_desc18_overlay = z.png

overlay0_desc14 = "retrok_left,0.06,0.78,rect,0.05,0.04"
overlay0_desc15 = "retrok_down,0.06,0.86,rect,0.05,0.04"
overlay0_desc16 = "retrok_right,0.06,0.94,rect,0.05,0.04"

overlay0_desc17 = "retrok_up,0.94,0.86,rect,0.05,0.04"
overlay0_desc18 = "retrok_z,0.94,0.94,rect,0.05,0.04"


overlay0_desc20_overlay = ra.png
overlay0_desc23_overlay = ff.png
overlay0_desc21_overlay = co.png
overlay0_desc22_overlay = pl.png

overlay0_desc19 = "overlay_next,0.5,0.25,rect,0.25,0.25"
overlay0_desc20 = "menu_toggle,0.04,0.04,rect,0.03,0.03"
overlay0_desc23 = "toggle_fast_forward,0.13,0.04,rect,0.03,0.03"
overlay0_desc21 = "select,0.87,0.04,rect,0.03,0.03"
overlay0_desc22 = "start,0.96,0.04,rect,0.03,0.03"

####

overlay1_rect = "0.0, 0.0, 1.0, 1.0"
overlay1_full_screen = false

overlay1_alpha_mod = 2.0 # If we press a button desc, it will have twice the alpha.
overlay1_range_mod = 1.5 # If we press a button desc, the hitbox range will be 1.5x the size until it's released.
overlay1_normalized = true # Descriptor coordinates use normalized coordinates [0, 1] instead of pixels.

overlay1_descs = 24


overlay1_desc0 = "retrok_a,0.081000,0.900000,rect,0.033000,0.100000"
overlay1_desc1 = "retrok_b,0.143400,0.900000,rect,0.033000,0.100000"
overlay1_desc2 = "retrok_c,0.205800,0.900000,rect,0.033000,0.100000"
overlay1_desc3 = "retrok_d,0.268200,0.900000,rect,0.033000,0.100000"
overlay1_desc4 = "retrok_e,0.330600,0.900000,rect,0.033000,0.100000"
overlay1_desc5 = "retrok_f,0.393000,0.900000,rect,0.033000,0.100000"
overlay1_desc6 = "retrok_g,0.455400,0.900000,rect,0.033000,0.100000"
overlay1_desc7 = "retrok_h,0.517800,0.900000,rect,0.033000,0.100000"
overlay1_desc8 = "retrok_i,0.580200,0.900000,rect,0.033000,0.100000"
overlay1_desc9 = "retrok_j,0.642600,0.900000,rect,0.033000,0.100000"
overlay1_desc10 = "retrok_k,0.705000,0.900000,rect,0.033000,0.100000"
overlay1_desc11 = "retrok_l,0.767400,0.900000,rect,0.033000,0.100000"
overlay1_desc12 = "retrok_m,0.829800,0.900000,rect,0.033000,0.100000"
overlay1_desc13 = "retrok_n,0.917000,0.900000,rect,0.033000,0.100000"

overlay1_desc14_overlay = chi.png
overlay1_desc15_overlay = pon.png
overlay1_desc16_overlay = kan.png
overlay1_desc17_overlay = reach.png
overlay1_desc18_overlay = z.png

overlay1_desc14 = "retrok_left,0.06,0.40,rect,0.05,0.04"
overlay1_desc15 = "retrok_down,0.06,0.50,rect,0.05,0.04"
overlay1_desc16 = "retrok_right,0.06,0.60,rect,0.05,0.04"

overlay1_desc17 = "retrok_up,0.94,0.50,rect,0.05,0.04"
overlay1_desc18 = "retrok_z,0.94,0.60,rect,0.05,0.04"


overlay1_desc20_overlay = ra.png
overlay1_desc23_overlay = ff.png
overlay1_desc21_overlay = co.png
overlay1_desc22_overlay = pl.png

overlay1_desc19 = "overlay_next,0.5,0.25,rect,0.25,0.25"
overlay1_desc20 = "menu_toggle,0.04,0.04,rect,0.03,0.03"
overlay1_desc23 = "toggle_fast_forward,0.13,0.04,rect,0.03,0.03"
overlay1_desc21 = "select,0.87,0.04,rect,0.03,0.03"
overlay1_desc22 = "start,0.96,0.04,rect,0.03,0.03"

# hide layer

overlay2_rect = "0.0, 0.0, 1.0, 1.0"
overlay2_full_screen = false

overlay2_alpha_mod = 2.0 # If we press a button desc, it will have twice the alpha.
overlay2_range_mod = 1.5 # If we press a button desc, the hitbox range will be 1.5x the size until it's released.
overlay2_normalized = true # Descriptor coordinates use normalized coordinates [0, 1] instead of pixels.

overlay2_descs = 1
overlay2_desc0 = "overlay_next,0.0,0.0,rect,1.0,1.0"
